@import url('https://fonts.googleapis.com/css?family=ABeeZee|Aldrich|Amiko|PT+Sans');
:root {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Aldrich', sans-serif;
    font-family: 'Amiko', sans-serif;
    font-family: 'ABeeZee', sans-serif;
}

* {
    margin: 0;
}

body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../img/fn.jpg);
    background-origin: padding-box;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    text-align: center;
}

ul.social-icons {
    z-index: 3;
    list-style-type: none;
    list-style-position: inside;
    position: fixed;
}

ul.social-icons li {
    padding: 5px;
    display: block;
    background-clip: border-box;
}

ul.social-icons li.facebook:hover {
    background-color: #3b5998;
}

ul.social-icons li.github {
    padding-top: 10px;
    padding-left: -2px;
    padding-bottom: -10px;
}

ul.social-icons li.github:hover {
    background-color: #6cc644;
}

ul.social-icons li.linkedin {
    padding-top: 10px;
}

ul.social-icons li.linkedin:hover {
    background-color: #0077B5;
}

nav.navbar {
    opacity: 0;
}

.logo-header {
    background-color: black;
    width: 100%;
    padding-bottom: 2%;
    opacity: 0.6;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
}

.logo {
    margin-top: 2%;
}

.nav-bg {
    width: 30%;
    background-color: black;
    margin-left: 35%;
    padding-top: 0.8%;
    margin-bottom: 11%;
    border: 0.5px solid black;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

div.nav-bg ul {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0;
    padding: 10px;
}

div.nav-bg ul li a {
    color: #c0c0c0;
    text-decoration: none;
    font-family: 'PT Sans';
    font-size: 18px;
}

div.nav-bg ul li a:hover {
    color: white;
}

div.nav-bg ul.net {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div.bg-content {
    opacity: 0.2;
}

div.bg-content div.text-content .greet {
    margin-top: 2%;
    text-align: center;
    font-family: 'PT Sans';
    font-size: 36px;
    color: #444444;
}

div.bg-content div.text-content .essence {
    margin-top: 2%;
    text-align: center;
    font-family: 'ABeeZee';
    font-size: 28px;
    color: #7a7a7a;
}

div.bg-content div.text-content .more-info {
    margin-top: 4%;
    width: 20%;
    height: 50px;
    background-color: #e6e6e6;
    font-family: Helvetica bold;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 7%;
}

div.bg-content div.text-content .more-info:hover {
    background-color: #929292;
    color: white;
}

footer.footer-bg {
    background-color: black;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-bottom: 1%;
    padding-top: 2%;
    border: 1px solid gray;
    border-radius: 1.5%;
    opacity: 0.9;
}

footer.footer-bg div ul li.telephone,
li.email,
li.address,
li.home,
li.about,
li.contact {
    color: white;
    font-size: 14px;
    font-family: Helvetica;
    text-align: left;
    list-style-type: none;
    padding: 20px;
}

footer.footer-bg div ul li.contact-details,
li.smart-menu {
    font-size: 26px;
    font-family: 'PT Sans';
    color: white;
    padding: 5px;
    list-style-type: none;
    text-align: left;
}

footer div ul li.join-our-newsteller {
    font-size: 26px;
    font-family: 'PT Sans';
    color: white;
    text-align: center;
    list-style-type: none;
    padding: 5px;
    margin-top: -25%;
}

footer div ul li.text-for-sub {
    color: lightgray;
    font-size: 14px;
    font-family: Helvetica;
    text-align: center;
    list-style-type: none;
    margin-top: 12%;
}

footer div ul li.join-our-newsteller,
li.text-for-sub {
    margin-bottom: -6%;
    margin-top: 1%;
}

footer div ul.menu li a {
    text-decoration: none;
    color: white;
    list-style-type: none;
    list-style-position: inside;
    margin-bottom: 20%;
}

footer div ul.menu li a:hover {
    color: deepskyblue;
}

.place-for-email {
    background-color: black;
    border: 1px solid gray;
    border-radius: 5%;
    color: white;
    padding: 8px;
    font-size: 12px;
    text-align: center;
}

.btn {
    font-size: 16px;
    text-align: center;
    font-family: 'PT Sans';
    color: white;
}

.copyright {
    color: #4D3232;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        width: 100%;
        opacity: 1;
    }
    body {

        max-width: 768px;
        margin: auto;
        text-align: center;
    }
    ul.social-icons {
        margin-top: 37.5%;
        margin-left: -3%;
        opacity: 0;
    }
    .header {
        position: static;
        top: 0;
    }
    .logo-header {
        margin-top: 400px;
        padding: 10px;
        padding-bottom: 20px;
    }
    .navigate {
        opacity: 0;
    }
    .myself {
        width: 60%;
        height: 25%;
        margin-bottom: 10%;
    }
    div.bg-content {
        width: 100%;
        background-color: #f7f6f6;
        padding-bottom: 2%;
        margin: auto;
        margin-top: 4%;
        border: 1px solid gray;
        border-radius: 4%;
    }
    div.bg-content div.text-content .more-info {
    margin-top: 4%;
    width: 20%;
    }
    footer.footer-bg {
        width: 100%;
        padding-right: 45%;
    }
    .menu {
        padding-right: 90px;
    }
    .newsteller {
        margin-left: 70%;
    }
    div.footer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    form {
        text-align: center;
        margin-left: 58%;
    }
    .place-for-email {
        width: 80%;
        height: 40px;
        margin-left: 35%;
        margin-top: 5%;
    }
    .btn {
        width: 60%;
        margin-left: 46%;
        font-size: 10px;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 768px) {
    nav.navbar {
        width: 100%;
        opacity: 1;
    }
    body {
        max-width: 910px;
        margin: auto;
        text-align: center;
    }
    ul.social-icons {
        margin-top: 37.5%;
        margin-left: -3%;
        opacity: 0;
    }
    .header {
        position: static;
        top: 0;
    }
    .logo-header {
        margin-top: 400px;
        padding: 10px;
        padding-bottom: 20px;
    }
    .navigate {
        opacity: 0;
    }
    div.bg-content {
        width: 100%;
        background-color: #f7f6f6;
        padding-bottom: 2%;
        margin: auto;
        margin-top: 4%;
        border: 1px solid gray;
        border-radius: 4%;
    }
    div.bg-content div.text-content .more-info {
    margin-top: 4%;
    width: 16%;
    }
    footer.footer-bg {
        width: 100%;
        padding-right: 5%;
    }
    .newsteller {
        margin-top: -10.5%;
        padding-bottom: -15%;
    }
    .menu {
        margin-top: 0.1%;
    }
    div.footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .place-for-email {
        width: 24%;
        margin-left: 75%;

    }
    .btn {
        width: 15%;
        height: 40px;
        margin-left: 75%;
        margin-bottom: 3%;
    }
}

@media only screen and (min-width: 898px) {
    body {
        max-width: 2000px;
        text-align: center;
    }

    ul.social-icons {
        list-style-type: none;
        list-style-position: inside;
        position: fixed;
        margin-top: 460px;
        margin-left: -3%;
        opacity: 1;
    }

    .logo-header {
        width: 100%;
        padding-bottom: 2%;
        margin-top: 300px;
        opacity: 0.6;
        text-align: center;
    }

    nav.navbar {
        opacity: 0;
    }

    header.header {
        z-index: 2;
        position: sticky;
        top: 0;
    }

    .logo {
        margin-top: 2%;
    }

    .navigate {
        width: 30%;
        opacity: 0.8;
    }
    
    div.bg-content {
        z-index: 1;
        width: 85%;
        margin-left: 7.5%;
        background-color: #f7f6f6;
        padding-bottom: 2%;
        margin: auto;
        margin-top: 4%;
        border: 1px solid gray;
        border-radius: 4%;
    }
    div.bg-content div.text-content .more-info {
    margin-top: 4%;
    width: 14%;
    margin-left: -1.5%;
    }
    footer.footer-bg {
        width: 85%;
        margin-left: 7.5%;
        padding-right: 10%;
        padding-left: 6%;
    }
    .newsteller {
        margin-top: -8.5%;
    }
    .place-for-email {
        width: 23%;
        margin-left: 76%;
    }
    .btn {
        width: 15%;
        height: 40px;
        margin-left: 76.5%;
        margin-bottom: 3%;
    }
}
